
.footer {
    background-color: var(--azulprincipal);
    p {
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 18px;
    margin: -16px;
    margin-right: 20px;
    margin-left: 20px;
    }
    a {
        text-decoration: none;
        color: white;
    }
}