
.repositorio {
        padding: 0 15px 0 15px;
        text-align: center;
        h1 {
        color: var(--azulprincipal);
        font-weight: 700;
        font-size: 25px;
        }
        a {
            color: var(--texto);
            font-size: 15px;
        }
}